<p id="notice"><%= notice %></p>

<h1>Everyone on Fakesbook:</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.name}", user %></td><td><%= @friend_statuses[user.id] 
        %></td><td><%= link_to "#{@button_texts[user.id]}", users_path(friend_toggle_id: user.id, method: @button_texts[user.id]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

